[2014-08-19 07:12] benjchristensen opened #1 "RxJavaFx Bootstrap"
RxJavaFx has been extracted from RxJava prior to 1.0 as per https://github.com/ReactiveX/RxJava/issues/589

I have done this with a simply copy/paste/commit for now. Commit history remains in the 0.20.x branch of RxJava: https://github.com/ReactiveX/RxJava/tree/0.20.x

If anyone wishes to replace the code in this project with files that retain commit history, go ahead and make the changes.

Over t

[2014-08-19 07:13] benjchristensen opened #2 "RxJavaFx Project Name"
Is the name of this project correct? Anything better?

What should the artifact and module names be?

[2014-10-01 03:38] #1 closed, assigned to nobody

[2014-10-01 03:38] benjchristensen opened #3 "Build Failing"
This is not yet building ... someone who works with JavaFX needs to figure this out.

I can make it build with Java 8, but there must be a way to get the correct JavaFX dependencies or build config for Java 7?

Also, when building with Java 8 some unit tests fail.

[2014-11-14 16:49] cbeams commented on #2
Yes, I'd say it's as clear and concise as possible.

`io.reactivex:rxjava-fx:x.y.z` looks reasonable to me. The dash in `rxjava-fx` is used for consistency with the other RxJava\* projects. `rxjava-javafx` might be more correct, but I imagine users won't have any trouble understanding the former, less redundant form.

[2014-11-25 20:29] benjchristensen commented on #3
Is it okay to build the artifacts with Java 8? That is how Travis is working.

If I use Java 6/7 it fails:

[code]

[2014-11-25 20:29] benjchristensen commented on #3
cc @cbeams for guidance on this so I can release

[2014-11-25 20:42] cbeams commented on #3
Right. JavaFX was first included as part of Java SE beginning with JDK 8. So while it would technically be possible to support most or perhaps all of what's in RxJavaFX on earlier JDKs by including standalone JavaFX distributions on the classpath, I don't see a compelling reason to do so. JDK 8 has been out for a while now, and RxJavaFX is essentially brand new. I don't see any reason not to go fo

[2014-11-25 20:58] benjchristensen commented on #3
Cool, that simplifies. So I changed to Java 8 and am now getting this:

[code]

Need to figure out how to configure it to be headless.

[code]

... but due to how Gradle works I need that somehow configured via Gradle I believe.

[2014-11-27 10:05] cbeams commented on #3
I'm not sure why you're still seeing this error—#4 should have fixed it. We had the same `Gtk-WARNING` issues with Bitsquare, but the same xvfb workaround fixed them for us. See  bitsquare/bitsquare@c5809a9. I don't think `-Djava.awt.headless=true` will make a difference, at least it wasn't necessary in our case. I'm afraid I can't spend more time at the moment looking into this one. Perhaps someo

[2015-07-08 15:51] thomasnield commented on #3
I'm curious as to the status of this project. Are there still plans for this project or is it just lacking developer availability?

[2015-07-09 17:10] thomasnield commented on #3
I copied the source files to a new project and did a simple Gradle build just fine (with RxJava as a dependency). I am not sure what trails you guys are chasing but maybe the Gradle build just needs to be simplified???

[2015-07-09 19:58] thomasnield commented on #3
Hey guys, if you want I can submit a pull request to simplify the Gradle build and let this be buildable again. It may not be what you were trying to accomplish initially, but just hitting Maven Central for the dependencies will at least get this working.

Unless... are you trying to target anything other than JavaFX 8?

[2015-07-17 14:46] pigelvy commented on #3
It would be nice to make the project build so a 1st version can be deployed to Maven centrale...

[2015-07-17 22:38] thomasnield commented on #3
Okay I submitted a pull request. I was not quite sure what @benjchristensen and @cbeams were trying to accomplish and if I omitted anything of importance, but I made a simpler dependency setup and it built for me no problem.

[2015-07-19 19:00] sujonmiya commented on #3
Is this project going to see some light on maven central some day? @benjchristensen

[2015-07-27 14:07] thomasnield commented on #3
Hey guys, until folks get a moment to review the pull request, you are more than welcome to use my fork here. https://github.com/thomasnield/RxJavaFX

[2015-07-28 16:30] benjchristensen commented on #3
This project needs an owner. No one from Netflix uses or has experience with JavaFX.

If someone wants to take over ownership, let me know and I can grant privileges to commit and release.

For builds, I recommend getting it working with the Nebula build plugin all other RxJava projects use, otherwise you will be on your own for getting the binary release process working which we have got working

[2015-07-28 18:27] thomasnield commented on #3
I am somewhat proficient with JavaFX. I'm still learning a lot about RxJava and JavaFX though, so I don't know if I would qualify as someone to administrate over this.

I'd recommend getting this on Maven Central though at least, with or without Nebula so the project can start getting interest and support.

But let me know if I can do anything to help.

[2015-07-29 12:22] thomasnield commented on #3
Actually, if there is nobody else I can at least take stewardship of the project and keep it up to date with RxJava binary releases. I have a huge need for this library and don't mind maintaining it until someone else comes along.

[2015-08-06 19:13] benjchristensen commented on #3
@thomasnield I have invited you to be a committer so you can take on stewardship of this project.

[2015-08-06 22:54] thomasnield commented on #3
Thanks @benjchristensen, I'll help the best I can.

If anybody else is following this thread, I propose getting this on Maven Central ASAP to attract interest to the project, even if it means simplifying Gradle dependencies to binaries (which is in my PR).

Please let me know if there are any objections by Sunday, and if there are none I'll start getting a release ready.

[2015-08-07 00:05] benjchristensen commented on #3
I think for you to get to Maven Central I need to update your .travis.yml file so that all the credentials are there for publishing. It needs the setup that RxJava and other projects have for BinTray and Sonatype.

[2015-08-07 00:14] thomasnield commented on #3
Okay. Let me know if there are any actions I need to take...

[2015-08-07 15:40] benjchristensen commented on #3
I've got the pieces in place, but there is some odd build issue that I don't understand. It has nothing to do with releasing.

I don't have time right now to figure it out, but it's on my list, unless you can beat me to it.

Here's what needs to happen though:

1) RxJava Nebula Plugin

It needs to use the RxJava Nebula plugin, as used by RxJava, RxAndroid and other projects.
- https://github.com/R

[2015-08-10 03:14] thomasnield commented on #3
Okay I'll see if I can make time. I got about 12 things to learn so I'll add this to my agenda.

[2016-01-03 05:28] thomasnield commented on #3
I'm working on this right now. I considered some observations by @jpenglert and also found the gradle-rxjava-project-plugin was being called in a deprecated manner. https://github.com/nebula-plugins/gradle-rxjava-project-plugin

Still investigating a build failure though.

[2016-01-03 06:06] thomasnield commented on #3
Well good news ya'll. I got this to build finally and repaired the Nebula dependencies. I had to do a lot of Googling and found the right setup. One of the unit tests `testNestedActions()` is failing in Travis though. This tests fine on my machine so this might warrant some investigation.

[2016-01-06 04:38] thomasnield commented on #3
Does anybody know why the unit test would fail on Travis but work fine with a local Gradle build? Slightly puzzled over this. The build is working fine now and if this unit test gets resolved I see no reason why we can't deploy to Maven Central. @benjchristensen

[2016-01-09 16:23] thomasnield commented on #3
I resolved the unit test, and we officially have a successful travis build. I constructed a `JFXPanel` to trick out the JavaFX thread and initialize it. Is there any concerns releasing this to maven central? If not I'm going to get this out. @benjchristensen @jpenglert @pigelvy @cbeams

[2016-01-09 16:50] thomasnield commented on #3
Okay i tagged the release. This should trigger a Maven Central deployment as @benjchristensen said...

[2016-01-09 16:58] thomasnield commented on #3
For some odd reason, it is listing as 0.0.0 instead of 0.0.1 on Maven Central... https://repo1.maven.org/maven2/io/reactivex/rxjavafx/

[2016-01-09 20:39] thomasnield commented on #3
Alright the RxJavaFX library is officially on Maven Central as 0.0.2.

[2016-01-09 20:39] #3 closed, assigned to nobody

[2016-01-09 20:40] #2 closed, assigned to nobody

[2016-01-09 22:27] thomasnield commented on #2
Closing this issue as the RxJavaFX name seemed to fit consensus. It has been released to Maven Central under this name.

[2016-01-20 14:55] thomasnield opened #18 "Create Observable with Change event for property old value/new value"
I think I may add another factory in `JavaFxObservable` that emits an old value with the new value in a change object.

[2016-02-09 21:40] thomasnield opened #19 "Create Binding Subscriber"
I may explore creating a `Binding` factory that returns a `Subscriber` that implements `Binding`. This way an `Observable<T>` can quickly be subscribed to a JavaFX `Binding`.

[2016-02-12 03:16] thomasnield commented on #19
See #20

[2016-02-12 17:05] thomasnield commented on #18
See #21

[2016-02-12 17:11] #19 closed, assigned to nobody

[2016-02-12 17:12] thomasnield opened #22 "testPeriodicScheduling() test failing Travis build"
Merging #20 seems to have caused a build issue caused by `testPeriodicScheduling()` failing

[2016-02-12 17:47] thomasnield commented on #22
How odd. I added some JavaDocs just to make a non-impacting change. It built successfully this time. Looking at the Travis build history, it looks like this test method succeeds or fails in an indeterministic manner.

[2016-02-14 18:51] #18 closed, assigned to nobody

[2016-02-14 19:46] thomasnield commented on #22
This seems be indeterministic, which is slightly unsettling. However, I have only seen this happen on Travis and nowhere else. Perhaps the reliance on explicit timing in the test is what is causing the issue. I can't investigate this for awhile but if somebody wants to take a look I will not be opposed.

[2016-02-15 23:14] hastebrot commented on #22
Hmm, delicious, looks like a Heisenbug.  I had some interesting problems with weak references in observables. But it would require more inspection to isolate the real cause.

~~**Edit:** Aww dammit, more like a Schrödinbug.~~

[2016-02-15 23:17] thomasnield commented on #22
Yeah Netflix folks didn't know much about JavaFX so they were eager to pass ownership of this project. I've kept things together but never figure out the problem with the Scheduler test.

[2016-02-15 23:19] hastebrot commented on #22
I'd first need to reproduce the bug. Reactive extensions are very interesting.

[2016-02-15 23:21] thomasnield commented on #22
Yeah I rely heavily on RxJava hence why I stopped using ReactFX and became involved with this. My suggestion would be to looks at the weird timing mechanism. I think its timed for a second before it automatically fails.

[2016-02-15 23:35] hastebrot commented on #22
The method we speak about for reference: https://github.com/ReactiveX/RxJavaFX/blob/aed2dee32c/src/test/java/rx/schedulers/JavaFxSchedulerTest.java#L72-L101

[2016-02-15 23:42] thomasnield commented on #22
Confirmed. That is correct.

[2016-02-26 22:51] thomasnield opened #23 "CompositeBinding Implementation"
I'm thinking of creating a `CompositeBinding` in the same spirit as `CompositeSubscription`. This way multiple bindings created off `Observable` items can quickly be disposed as a group.

[2016-02-27 00:14] thomasnield commented on #23
I suppose another option would be to expose the BindingSubscriber as the returned type rather than just Binding. That way it can natively work as a Subscriber by returning its Subscription via a getter. It might make the API too complicated though...

[2016-03-01 05:28] thomasnield opened #24 "WindowEvent Observable Factory"
I think this was mentioned before in an old PR, but I'm rethinking it might be beneficial to add another factory to handle `WindowEvent` emissions.

Here is what it might look like when called.

[code]

I mocked this up in Kotlin real quick. Will implement this in Java later.

[code]

[2016-03-01 05:32] thomasnield commented on #23
I think a traditional `List<Binding>` should suffice. Don't see it worthwhile pursuing this anymore. I'll re-open if anyone thinks otherwise.

[2016-03-07 19:25] thomasnield opened #25 "Create Event Factory for ActionEvents"
I think I'll add another factory method to `JavaFxObservable` that works with `Menu` and `MenuItem` action events. Since `MenuItem` does not extend `Node`, I cannot use the existing factories.

[2016-03-07 19:37] thomasnield commented on #25
Perhaps it just might be better to create overloaded `JavaxObsevable.fromActionEvents()` factories for the following types, as specified in [this documentation](https://docs.oracle.com/javafx/2/events/convenience_methods.htm).

[code]

It would then look something like this.

[code]

[2016-03-07 19:39] thomasnield commented on #25
If anybody has ideas to better design this (or agrees with the above proposal), please let me know. Looking more through this documentation, I might as well add event support for `Tab` and other non-`Node` control types.

[2016-03-08 00:31] thomasnield commented on #24
Implemented Window event factories here.
https://github.com/ReactiveX/RxJavaFX/blob/0.x/src/main/java/rx/javafx/sources/WindowEventSource.java

[2016-03-08 00:32] thomasnield commented on #25
I implemented `ActionEvent` source factories here.
https://github.com/ReactiveX/RxJavaFX/blob/0.x/src/main/java/rx/javafx/sources/ActionEventSource.java

[2016-03-08 23:31] #25 closed, assigned to nobody

[2016-03-08 23:31] #24 closed, assigned to thomasnield

[2016-03-08 23:34] thomasnield opened #26 "Exploration of ObservableCollections"
I found a need to emit changes of an `ObservableList` as an `Observable`, such as dealing with multiple row selections in a `TableView`. It would be nice to emit those selection events even though they come in an `ObservableList`.
#6 brought up a similar idea a while back, but I think it might be helpful to emit changes from an `ObservableList` with each of those changes categorized. I'll document

[2016-03-09 00:17] thomasnield commented on #26
Yeah, some of these applications could be really helpful. I put out a new branch called `fx_collections_interop` for anyone that is interested.

But here are simple factories that emits additions and removals from an `ObservableList`.

[code]

Unit Test

[code]

**OUTPUT**

[code]

[2016-03-09 00:58] thomasnield opened #27 "Issues with JavaFxScheduler"
I have noticed the `JavaFxScheduler` does not always get along when the `Platform` thread is setting up the scheduling. In some cases I have seen it hang up and values never get emitted when subscribed on the `JavaFxScheduler`.

My initial tests indicate this can be fixed by checking if the `Platform` thread is already calling the scheduler setup, and if so just execute the task right then and the

[2016-03-09 01:05] thomasnield commented on #26
Yeah, actually a lot of new utility can be created here. For example, here is a factory that will only emit items when they are distinctly added to the list for the first time, or when the item is removed and there are no dupes remaining.

We could use this to create a `DistinctObservableList` implementation that is driven off the distinct values of another `ObservableList`. For business intellige

[2016-03-09 03:07] thomasnield commented on #27
If anybody sees any issues with this change to the JavaFxScheduler, please let me know within the next week. After that I'll release it as a bug fix.

[2016-03-09 07:59] akarnokd commented on #27
The problem with this direct execution on the event thread comes when one uses the scheduler recursively: the task schedules itself as follow up task resulting in stack overflow.

The solution requires trampolining. However, if you trampoline on the isFxApplicationThread, that could potentially cannibalize the thread and other background tasks scheduling on this thread end up waiting indefinitely.

[2016-03-09 14:18] thomasnield commented on #27
Glad you are here David! I was concerned if a SO could happen in cases i could not foresee.

Although I have never used trampoline I was wondering if that might aid the solution. If I understand correctly, I would need to build my own trampoline mechanism, or an alternative factory that does. I'll need to go through RxJava source code and see how this is done, unless you can show me if it is a qui

[2016-03-09 14:23] akarnokd commented on #27
There was a similar case with RxSwing. I [offered](https://github.com/ReactiveX/RxSwing/pull/24/files) a fix, but it was turned down.

[2016-03-09 14:26] thomasnield commented on #27
Perfect! I'll take a look and replicate your fix today. That's a bit surprising it was turned down.

[2016-03-09 18:40] thomasnield commented on #27
@akarnokd I am curious and must ask about a workaround I did last week. What is the outcome if I do something like this?

[code]

With a complicated `Observable`,  I was trying to observe it on the FX thread. But the source `Observable` may or may not emit items on the FX thread already. This caused weird hangups and emissions never making it to the `Subscriber`.

But if I did this `flatMap()` tri

[2016-03-09 18:43] akarnokd commented on #27
It's okay.

[2016-03-09 18:51] thomasnield commented on #27
Okay cool. I imagine the Swing scheduler is still more efficient so I'll go ahead and implement that.

[2016-03-09 19:04] thomasnield commented on #26
Please refer to PR #28 for API proposals.

[2016-03-09 23:49] thomasnield commented on #27
See #29 for PR in progress. Need to figure out one or two things I think as I hack through this.

[2016-03-13 03:24] thomasnield commented on #27
Aha, `EventQueue` is awt-based. For some reason I thought it was a utility. I knew it was suspicious that `Platform` was not being invoked anywhere. Now I just got figure out how to implement [the equivalent](http://stackoverflow.com/questions/22257729/javafx-equivalent-to-java-awt-eventqueue).

[2016-03-13 19:26] thomasnield commented on #22
Hopefully this issue has been resolved with the new trampoline mechanism in the `JavaFxScheduler`, thanks to @akarnokd's help. If the builds are consistently successful and hangups no longer happen, I will close this issue.

[2016-03-13 19:31] #27 closed, assigned to nobody

[2016-03-13 22:39] thomasnield commented on #22
Darn, I did get another failure. Again this only happens with Travis.
https://travis-ci.org/ReactiveX/RxJavaFX/builds/115742006

[2016-03-13 22:43] thomasnield commented on #26
Closing this issue as this is now implementing, and pending for release in #28.

[2016-03-13 22:43] #26 closed, assigned to nobody

[2016-03-13 23:08] akarnokd commented on #22
Travis is hectic with timed tests; you may think 50ms or 200ms is precisely executed, but not always. Perhaps if you double all times involved, the test succeeds (more often).

[2016-03-13 23:15] thomasnield commented on #22
I'm not well-versed in Travis but I was beginning to suspect that, especially considering the explicit timing involved in the test. Thanks and I'll implement that now!

[2016-03-13 23:19] thomasnield commented on #22
Alright, I'll monitor future builds and see if it behaves now.

[2016-03-15 14:27] thomasnield commented on #22
This seems to be testing consistently after implementing @akarnokd's advice.

[2016-03-15 14:27] #22 closed, assigned to nobody

[2016-03-20 03:31] thomasnield opened #30 "RxKotlinFX"
I was inspired by Kotlin and the [TornadoFX](https://github.com/edvin/tornadofx) project, and believe this library should be represented as extension functions for Kotlin. This is why I started the [RxKotlinFX](https://github.com/thomasnield/RxKotlinFX) library to represent the RxJavaFX static factories as extension functions.

But using Kotlin's extension features, it can go further than RxJavaFX

[2016-03-22 00:22] thomasnield commented on #30
RxKotlinFX is now live on Maven Central. Gradle dependencies are shown below.

[code]

[2016-03-22 00:22] #30 closed, assigned to nobody

[2016-03-25 20:58] thomasnield opened #31 "doOnXXXCount() Operators"
I added some [`doOnXXXCount()` operators to RxKotlinFX](https://github.com/thomasnield/RxKotlinFX#operators). Specifically these are the `doOnNextCount()`, `doOnErrorCount()`, and `doOnCompletedCount()` operators, which are analogous to `doOnNext()`, `doOnCompleted()`, etc already found in RxJava. The only difference is these emit the cumulative emission counts for each of those events. This is he

[2016-03-25 21:31] akarnokd commented on #31
These look like very special use operators and I'm not convinced they should be in RxJava. You can have custom `Operator`s in some tool-lib outside RxJava.

[2016-03-25 21:48] thomasnield commented on #31
Even for RxJavaFX? Did you mix up your project notifications by any chance : )P

I think there could be utility for RxJavaFX, since it is common for user interfaces to show a status label reading "Processed [x number] of items." This is a common side effect need in the context of UI's, although it could be argued it could be put in @davidmoten's RxJava-Extras or another library, which may allow th

[2016-03-25 21:51] thomasnield commented on #31
I'll let others comment on this proposal over the next week before I take any action. Do we want to start adding JavaFX-specific Operators?

[2016-03-25 22:04] akarnokd commented on #31
Maybe I didn't express myself precisely, I'm not convinced `Observable.doOnNextCount` should exist. It is up to you if FX has room and the means for it.

[2016-03-25 22:14] thomasnield commented on #31
Oh, my bad sorry : ) That is not the first time I've done that. I'll make that edit.

[2016-03-28 00:47] thomasnield commented on #31
I think I'm deciding against this simply because Java does not have extension functions like Kotlin and this would be somewhat cumbersome to use without them. I'd prefer to keep this library lightweight and somewhat elegant, but if anybody feels differently let me know by the end of the week.

[2016-03-30 06:37] #31 closed, assigned to nobody

[2016-04-25 15:30] thomasnield commented on #23
I've changed my mind and I think I'm going to pursue adding `CompositeBinding`. I got [a request for it in the RxKotlinFX project](https://github.com/thomasnield/RxKotlinFX/issues/6).

[2016-04-26 19:14] thomasnield commented on #23
@raniejade, I just committed my first pass at `CompositeBinding`. It closely mirrors the `CompositeSubscription` but works with `Binding`s instead of `Subscription`s. If you like the Java implementation I'll add `plusAssign()` `+=` and other extensions to it in RxKotlinFX.

I ran into a few challenges. I don't see any sensible reason to have `CompositeBinding` implement `Binding` since many method

[2016-04-26 22:10] raniejade commented on #23
Cool! Only advantage when implementing `Binding` is allowing nested `CompositeBinding`.

[code]

[2016-04-26 23:21] thomasnield commented on #23
Good point. Let me think about it. Maybe throw some unsupported operation exceptions for methods that don't make sense...

[2016-04-27 00:17] raniejade commented on #23
It does bring a lot of unnecessary methods from `ObservableValue<T>` and `Observable`. One way around it is to allow `CompositeBinding` to manage other `CompositeBinding`s.

[code]

[2016-04-27 00:42] thomasnield commented on #23
I was just thinking about that an hour ago. I initially felt lukewarm about the idea because managing two Sets for two types sounded messy. But when you showed it here, it actually looks pretty clean.

I'll see if I can add those overloaded methods tomorrow.

[2016-04-27 01:57] thomasnield commented on #23
Within those proposed methods, I suppose I could also extract all the Bindings from a CompositeBinding and put them in the original Set<Binding>.

[2016-04-27 05:33] raniejade commented on #23
Possible but consider this:

[code]

[2016-04-27 16:43] thomasnield commented on #23
Good point... I knew something didn't feel right with that idea. I'll look probably go with your idea then with two sets.

[2016-04-28 19:17] thomasnield commented on #23
Alright, just did another commit. Here is the proposed implementation.

[code]

[2016-04-29 00:01] raniejade commented on #23
Looks good. Just one comment `All methods of this class must be called on JavaFX Thread`, does it really need to be called in the JavaFX thread? It's true if one of the bindings is bounded to a control in the scenegraph, but not always.

[2016-04-29 01:09] thomasnield commented on #23
Yeah that may be true. What I really was getting at is this CompositeBinding is not synchronized unlike CompositeSubscription. I can change that comment since it technically does not have to happen on FX thread.

If everything besides that looks good, I'll make a few unit tests and do a release. Then Ill turn attention back on the RxKotlinFX implementation.

[2016-04-30 18:00] thomasnield commented on #23
Okay, I committed a unit test and it passed. Going to do a release, then I'll turn to RxKotlinFX for its implementation.

[2016-04-30 18:00] #23 closed, assigned to thomasnield

[2016-05-21 00:57] thomasnield opened #32 "ObservableMap and ObservableSet support"
I am going to add `Observable` source factories to emit events from `ObservableMap` and `ObservableSet`. I wonder if it is time to start thinking about a 1.0 release. I can't really think of anything else that needs to be added.

[2016-05-21 01:17] thomasnield commented on #32
Okay I just implemented this. I'll merge in a few days to leave any chance for feedback.

https://github.com/ReactiveX/RxJavaFX/blob/0.x/src/main/java/rx/observables/JavaFxObservable.java#L212:L284

[2016-05-21 01:46] thomasnield commented on #32
Updated documentation
https://github.com/ReactiveX/RxJavaFX/blob/0.x/README.md#observablelist-observablemap-and-observableset

[2016-05-24 03:00] #32 closed, assigned to nobody

[2016-06-02 13:05] thomasnield opened #33 "addto() is not camelcase"
I made a typo. The `Binding`'s `addto()` method should be `addTo()`. I will deprecate and correct it later.

[2016-06-23 18:38] thomasnield opened #34 "Explore Animation Observables"
I'll need to do some exploring and see if RxJavaFX can support animation a little better.

http://www.java2s.com/Tutorials/Java/JavaFX/1010__JavaFX_Timeline_Animation.htm

[2016-06-24 02:13] thomasnield commented on #34
Here is some messing around I did with RxKotlinFX and TornadoFX. This creates a `Rectangle` and rotates it incrementally faster every second. I think there are some cool things we can do here, but some thoughts:

1) It might be worthwhile creating an FX-equivalent to `Observable.interval()` that emits on the FX thread possibly

2) There has got to be a way to streamline the creation of `KeyValue`,

[2016-06-24 03:02] thomasnield commented on #34
I just added a `JavaFxObservable.interval()` factory to emit an incremental `Long` at a specified JavaFX `Duration`. This is pretty much identical to `Observable.interval()` but it occurs on the JavaFX thread through a `Timeline`.

[code]

[2016-06-24 03:23] thomasnield commented on #34
Here's a streamlined `subscribeAnimation()` function using Kotlin. I'll have to figure out if Java can be streamlined in this way.

[code]

[2016-06-24 03:39] thomasnield commented on #34
Haha, oh my gosh this is fun. Using some creative `Observable` composition, as soon as the rotation hits 90 degrees I can have it "snap back" to 0 degrees and be done!

[code]

![animation](https://cloud.githubusercontent.com/assets/7420801/16327337/947a6112-3993-11e6-9dfd-87ac48b7f88b.gif)

I can even compose it to do this routine three times.

[code]

[2016-06-26 16:58] thomasnield commented on #34
Alright, here is a complete working concept written in Java. I don't know if the `interval()` factory even needs to execute on the JavaFX thread via `JavaFxObservable.interval()`. It seems to work using `Observable.interval()` although not sure if it is jeopardziing thread safety. Regardless, the former emulates UI input events effectively that can drive animation.

In this example, it will keep r

[2016-06-26 17:08] thomasnield commented on #33
This was meant for RxKotlinFX. I filed this issue in the wrong project.

[2016-06-26 17:08] #33 closed, assigned to nobody

[2016-06-26 17:29] thomasnield commented on #34
Okay, I think I'm ready to close this issue and do a release later. Another application, throttling the sequence with `Button` clicks...

![2](https://cloud.githubusercontent.com/assets/7420801/16363736/a6daf6a2-3b99-11e6-8a68-8e296d8f41cc.gif)

[code]

[2016-06-26 17:29] #34 closed, assigned to nobody

[2016-06-27 13:14] thomasnield opened #35 "Lazy BindingSubscriber"
There should be an option to make the RxJavaFX Binding implementation lazy. That way it delays subscribing to the Observable until the Binding is first called for the value.

Maybe there needs to be two implementations: EagerBindingSubscriber and LazyBindingSubscriber. The first one is what exists currently as BindingSubscriber.

[2016-06-27 13:16] thomasnield commented on #35
Do you have any thoughts on this @raniejade?

[2016-06-28 01:10] raniejade commented on #35
I don't see any use case that needs a lazy binding, normally when you change an `Observable` into a binding you would use it immediately. Nonetheless, let's keep this open as others might have a good use case. Only cold and highly composed `Observable`s would benefit from this, performance wise.

[2016-06-28 01:23] thomasnield commented on #35
I'll need to validate this as I might be assuming... I was thinking of TableView and other data controls benefiting from this.  If each TableView cell uses a Binding to Subscribe to a cold,  expensive Observable,  maybe there is benefit if subscriptions only happen to cells currently in view.

This may not be the case though and if a TableView calls the ObservableValues eagerly for all records, an

[2016-06-28 01:30] thomasnield commented on #35
Hey @edvin, I know you are modest about your RxJava knowledge but you've been helpful many times.  If a Binding lazily subscribes to an Observable when it is first needed (thus delaying expensive operations) ,  do you see use cases for that?

@hastebrot, @t-boom I'd value your guys' thoughts too if you have any.

If I recall,  JavaFX likes to do Bindings lazily... that's why there is a invalidatio

[2016-06-28 02:11] thomasnield commented on #35
Never mind I was right. I created a lazy implementation just to test it out with a `TableView`.

[code]

And sure enough, when I used it in a `TableView`, I got print lines for only the visible records, and I got more when I scrolled. This proves the `TableView` is lazy, and might benefit from a lazy implementation of `BindingSubscriber`.

[code]

[2016-06-28 02:22] thomasnield commented on #35
I went ahead and added this to the API. Let me know if you guys have any additional thoughts or ideas, but I think this looks warranted. JavaFX is lazy, RxJava is lazy... it makes sense the interop should be lazy haha. It makes you almost wonder if this should be the default policy actually...

And @raniejade you are right this is not needed for most controls and eager subscription makes sense. Bu

[2016-06-28 06:02] edvin commented on #35
I think you might actually introduce more overhead with this, at least in the use case above. There might be more warranted use cases though for sure. Use with caution :)

[2016-06-28 12:03] thomasnield commented on #35
You referring to the delegation and double-Binding nesting?  I'll see if I can come up with a non-delegated pattern...

[2016-06-28 12:25] raniejade commented on #35
Was going to suggest `final class LazyBindingSubscriber<T> extend Subscriber<T>` then just modify `getValue()`, but the value can be `null` initially. Note that `onNext(item)` can be called on a different thread.

[2016-06-28 13:25] thomasnield commented on #35
From the [Observable Contract](http://reactivex.io/documentation/contract.html):

Yeah on any`onNext()` it's always been my knee-jerk reaction to make any side-effect variables `volatile`, until @akarnokd and @davidmoten reminded me that Observables have a strictly serial nature and synchronization is handled by RxJava. This can be undermined if you built bad custom operators or using Subjects. In

[2016-06-28 13:28] thomasnield commented on #35
While we are gutting this, do we see value in adding a parameter for `onCompleted` and not just `onError`?

[2016-06-28 14:13] thomasnield commented on #35
Hmmm... interesting. When you use the lazy Binding and scroll quickly through records in the `TableView`, it will only subscribe to the records you've slowed down on, not the ones you zipped past. This behavior could be desirable to prevent scroll lag.

![1](https://cloud.githubusercontent.com/assets/7420801/16418680/7f5046a0-3d10-11e6-9f0c-612ab2e7ba65.gif)

[code]

[2016-06-29 07:45] edvin commented on #35
Hmm.. That sounds neat, but I don't quite understand _why_ it behaves like that. Do you know/can you explain?

[2016-06-29 11:58] thomasnield commented on #35
Sorry, it's not so much my implementation but rather JavaFX itself defining this behavior. The `TableView` must have been built to be lazy and not request values from records that are scrolled past quickly.

If nobody else has concerns and approves of this feature, I think I'm going to draft up a release by the end of this week. Are we okay with the following signatures being added to the API?

[c

[2016-06-30 00:41] thomasnield commented on #35
Excellent, I'll close and draft up a release.

[2016-06-30 00:48] #35 closed, assigned to nobody

[2016-07-02 05:36] thomasnield opened #36 "JavaFxObservable.fromObservableList() initial emission"
The `JavaFxObservable.fromObservableList()` factory should probably emit the `ObservableList` on subscription as the initial emission. I'm finding myself putting a `startsWith()` after it to accomplish this all the time.

[2016-07-02 05:37] thomasnield commented on #36
Anybody who doesn't want the initial emission can just use the `skip()` operator, and this follows the same behavior for factories applied to `ObservableValue`.

[2016-07-09 17:26] thomasnield commented on #36
Just implemented this for `fromObservableList()`, `fromObservableMap()`, and `fromObservableSet()`. Closing.

[code]

[2016-07-09 17:26] #36 closed, assigned to nobody

[2016-07-13 23:17] thomasnield opened #37 "Reactive Dialogs and Alerts"
I discovered a factory to implement reactive dialogs and alerts is quite simple.

**Implementation**

[code]

**Usage**

[code]

I think I'm going to do a release with this and the fix for #36.  Did I oversimplify this factory? Is there anything else that needs to be added?

[2016-07-14 01:18] thomasnield commented on #37
Dang it, Travis build is failing due to its usage of Java version "1.8.0_31". Dialogs are only supported in 1.8.0_40 upwards. I can't find any current information beyond fall of 2015, but it seems Travis doesn't support beyond 1.8.0_31. I may have to turn off Travis unless anybody has ideas.

[2016-07-14 01:18] thomasnield commented on #37
https://github.com/travis-ci/travis-ci/issues/3259

[2016-07-14 01:25] thomasnield commented on #37
Never mind fixed it. This modification to YML did the trick.

[code]

[2016-07-14 14:13] #37 closed, assigned to nobody

[2016-07-22 02:44] thomasnield opened #38 "CompositeObservable to merge Observable Events"
I am encountering a need heavily where I want to `merge()` multiple `Observable` event sources, but I don't have the sources available upon initialization. I need to add them later at separate places in the application.

With David Karnok's help, I came up with a utility. Here is the Kotlin implementation.

[code]

This is also helpful for creating event-driven models. So if you have a `MenuItem`,

[2016-07-22 02:46] thomasnield commented on #38
Tagging you since you're pretty objective @raniejade. What do you think?

[2016-07-22 04:05] raniejade commented on #38
Hmmm, kinda looks like [`Observable#merge`](http://reactivex.io/documentation/operators/merge.html) to me. I do find it useful, but a bit redundant.

[2016-07-22 11:48] thomasnield commented on #38
Yes it is basically Observable#merge but it allows Observables to be added/removed at any time to a centralized instance. Additions and removals also affect all subscriptions. I'll create an example later showing why this is needed. Without it,  you can get in a bit of trouble using Observable#merge with complex UI's.

[2016-07-22 12:01] raniejade commented on #38
Follow up question, what happens when one of the source observable terminate with an error?

[2016-07-22 12:19] thomasnield commented on #38
Good question. I think the pooled Observable will continue on without it unless you use a retry.  I'll need to do some tests today regarding error behavior, bit I think that may be on the developer to handle it.

[2016-07-22 18:35] thomasnield commented on #38
Alright discovered a few issues. The error communication is not working like I expect. It just stops pushing items. when an error occurs downstream. Subjects are something I am not an expert in, especially when it comes to error handling.

Here is my test app.

[code]

Another issue is the subscriptions seem to have to happen before the source Observables are added. Otherwise nothing is emitted.

[2016-07-22 18:40] thomasnield commented on #38
I take that first issue back. The `retry()` works fine, and or some reason it works now. Maybe code compilation wasn't synced.

The second issue still stands. Trying to figure it out...

[2016-07-22 18:48] thomasnield commented on #38
Haha okay I think I figured it out. I modified the `ObservableBus` to this and now it works fine. The problem is due to lazy initialization of Observables and subscription timing missing those emissions.  I need to eagerly `cache()` the emitted Observables before any Subscribers will have a chance to use the `ObservableBus`.. Feels dirty though, and source Observables are going to get retained in

[2016-07-23 03:01] thomasnield commented on #38
Alright, I got a JavaFX-driven solution using an `ObservableList` and a `switchMap()`. This seems to work perfectly. Error handling is predictable too, and I completely avoided using Subjects.

[code]

[2016-07-23 03:07] thomasnield commented on #38
Here's a simpler example I was using to test `retry()` against an error. The moment it hits `0` and throws the error, it resubscribes and starts all over like it should.

[code]

Unless anybody questions this or thinks this is too niche, I'll probably implement this in RxJavaFX and RxKotlinFX. Is there a better name than `ObservableBus`?

[2016-07-23 14:24] thomasnield commented on #38
@JakeWharton Has created a better name for this utility. We shall call it `CompositeObservable`.

[2016-07-23 14:46] thomasnield commented on #38
I proposed this in RxJava just to see if it gets shot down or not. https://github.com/ReactiveX/RxJava/issues/4235

[2016-07-24 17:09] thomasnield commented on #38
I went ahead and implemented this. If by any chance it goes into another library like RxJava or RxJava-Extras, I may deprecate later. For now I'd like it to be included.

[2016-07-24 17:09] #38 closed, assigned to nobody

[2016-07-24 23:30] thomasnield opened #39 "More enhancements for CompositeObservable"
I won't make these changes right now. Just documenting them.

~~\* Add vararg `add()` and `remove()` methods~~
~~\* Add `clear()` method to remove all Observables~~
~~\* Back with `ObservableSet` instead of `ObservableList` to prevent duplicates~~
~~\* Add `getBackingList()` to return unmodifiable `ObservableList<Observable<T>>` for currently tracked Observables.~~

[2016-07-25 15:10] thomasnield commented on #39
The use of `initialCapacity` might be broken too as the caching happens to each independent subscription. Client might as well cache it themselves with that behavior. But the desired behavior is to have caching happen for all subscribers.

[2016-07-26 00:34] thomasnield commented on #39
~~For RxKotlinFX, perhaps an `Observable#addTo(CompositeObservable)` extension function would be helpful as well to keep it fluent.~~

[2016-07-28 01:08] thomasnield commented on #39
I scratched out items that have been taken care of. Now debating another item:
* Allow "policy options" for each added `Observable`, starting with `Policy.REMOVE_ON_TERMINATE` that will remove an `Observable` from the `CompositeObservable` once it terminates.

[2016-08-01 03:11] thomasnield opened #40 "Planning for RxJavaFX/RxKotlinFX Guide"
I'd like to think this library is maturing and almost ready for a 1.0 release. After I complete a project with O'Reilly this fall, I'm going to put together a GitBook guide covering RxJavaFX/RxKotlinFX in detail. This will very much be in the spirit of the [TornadoFX Guide](https://edvin.gitbooks.io/tornadofx-guide/content/) which I'm also going to finish before October.

I may use this book to te

[2016-08-26 03:37] #40 closed, assigned to nobody

[2016-08-26 03:38] thomasnield commented on #40
This eBook has been  started and released as an EAP.  https://www.gitbook.com/book/thomasnield/rxjavafx-guide/details

[2016-08-26 03:50] thomasnield opened #41 "Planning for RxJava 2.0"
I read the documentation on the release candidate of RxJava 2.0, and it is pretty clear disruptive  (but good) changes are on the horizon that directly affect RxJavaFX.

https://github.com/ReactiveX/RxJava/wiki/What's-different-in-2.0

I haven't dived deep into this yet or even messed with the released candidate,  but it does seem a major refactoring is necessary since RxJava was basically rewritt

[2016-08-26 04:59] thomasnield commented on #41
Sorry, long day.  I read this backwards. Flowable supports bakpressure. Observable does not. This therefore will require little change thankfully.

[2016-08-26 13:24] thomasnield commented on #41
Still keeping this open since 1.0 and 2.0 versions will still need to be managed

[2016-08-27 03:59] thomasnield commented on #41
2.x branch has been created. Some refactoring has been done although still a lot of work left to resolve compile errors.

[2016-08-30 02:51] thomasnield commented on #39
My thoughts have been going all over the place on this. Debating if the returned `Observable` should allow an option to be multicastedt. I need to come up with more robust specifications for this utility, without alienating it to one purpose like being an event bus. It should theoretically work with cold Observables too.

[2016-09-09 01:28] thomasnield commented on #39
I think I got it. A `compose()` lambda should be passed as an optional argument to do any manipulations to the aggregated `Observable`.

[code]

This will take care of caching, publishing, and any other options you would like to do to the aggregated `Observable` returned from `toObservable()`.

[2016-09-11 18:44] thomasnield commented on #39
Released in RxJavaFX 0.2.0. I think this is a wrap.

[2016-09-11 18:44] #39 closed, assigned to nobody

[2016-10-29 16:52] thomasnield commented on #41
RxJava2 has been released so this probably needs to become priority at some point. Unfortunately right now I'm busy with several projects, and while I hate creating contingencies I can't personally prioritize this until [RxJava-JDBC](https://github.com/davidmoten/rxjava-jdbc) and [RxJava-Extras](https://github.com/davidmoten/rxjava-extras) gets ported to RxJava2. I will get to this likely once tha

[2016-11-01 01:32] thomasnield commented on #41
For handling lack of nullable types in RxJava2, I may have to follow suit with what ReactFX does and have non-nullable versions of factories. The nullable factories will have to use an Optional packaged with the library.

[2016-11-03 15:03] thomasnield opened #42 "Removing Source from CompositeObservable"
I am beginning to think that backing the `CompositeObservable` with a `Subject` may not be a bad idea. A feature that is missing is the ability to "unsubscribe" the `CompositeObservable` from a source without an emission to trigger the `takeWhile()`. If the `add()` method returns a `Subscription`, the client can easily remove streams going into the `CompositeObservable`. I am also thinking of maki

[2016-11-03 15:27] thomasnield commented on #42
Implemented. Will release after testing it some more. I actually did remove all the `remove()` methods though since the `Subscription` object will effectively do that.

https://github.com/ReactiveX/RxJavaFX/blob/0.x/src/main/java/rx/javafx/sources/CompositeObservable.java

[2016-11-03 16:19] thomasnield commented on #42
A valid question is why not just use a `Subject` directly? I think this utility safely streamlines a `Subject` for the purpose of consolidating UI event streams, and helps prevent antipatterns and exposed complexities that would arise from using a `Subject` directly, especially for Rx newcomers.

[2016-11-06 20:58] #42 closed, assigned to nobody

[2016-11-10 18:13] ghost commented on #41
Any hints how to convert the JavaFxScheduler class to 2.0? I tried to convert it myself but failed. It did not execute anything. I'm pretty new to JavaRx in general and would really appreciate any help. Also I currently only need this class to execute things on the main thread. As far as I can see this is the only blocker to use RxJava in combination with RxJavaFX without using the JavaFX specific

[2016-11-10 18:16] akarnokd commented on #41
[code]

[2016-11-10 19:29] thomasnield commented on #41
@akarnokd you must mean `Schedulers.from(Platform::runLater)`

[2016-11-10 19:37] akarnokd commented on #41
I don't know JavaFX just wanted to show an example with Swing as a quick workaround. You may still want to implement a proper Scheduler as there is no need for the trampolining `from` does.

[2016-11-10 19:38] thomasnield commented on #41
Good point. I may migrate this to RxJava 2.0 sooner than planned (maybe this weekend) as an exercise as well as to get it out of the way.

[2016-12-02 05:07] thomasnield commented on #41
Started working on this. I'm going to simultaneously release RxJavaFX 1.0 alongside RxJavaFX 2.0. If anybody has any last minute requests for features they'd like to see, let me know. I'm also going to remove the `CompositeObservable` @Beta annotation.

[2016-12-12 02:58] thomasnield opened #43 "Null/Non-null factories for RxJavaFX 1.0 and 2.0"
I think I'm going to implement null/non-null factories for RxJavaFX in both the 1.0 and 2.0 releases. ReactFX took this approach and it seems to work quite well. It will also simplify things since RxJava 2.0 does not support null emissions, and only nullable factories will need to emit `Optional<T>` types.

https://github.com/TomasMikula/ReactFX#event-streams-in-javafx

[2016-12-12 03:04] thomasnield commented on #43
I'll probably do a 0.4.0 release with deprecations of old factories, before doing the 1.0 and 2.0 releases where they will be completely removed. The 1.x versions will not emit  `Optional<T>` items, but the 2.x version will.

[2016-12-12 03:24] thomasnield commented on #43
Hmmm.. it is tempting to deprecate all factories for `ObservableValue` and just go with ReactFX's naming conventions. They are much more concise than `fromObservableValue()` and `fromObservableValueNonNull()`

[code]

[2016-12-18 02:41] thomasnield opened #44 "doOnXXXFX() Transformers"
Instead of having the `doOnXXXFX()` action operators only available on RxKotlinFX as extension functions, I will make them available in RxJavaFX as Transformers as cumbersome as they are. These will be in the 1.0 release.

[2016-12-18 02:47] thomasnield commented on #43
I have thought about this and I am going to allow the old factory and new factory names to co-exist as aliases for RxJavaFX 1.0. But the old factory conventions will be removed completely in RxJavaFX 2.0 in favor of the new ones: `eventsOf()`, `valuesOf()`, `nonNullValuesOf()`, `changesOf()`, `emitOnChanged()`, etc... inspired by ReactFX.

[2016-12-18 02:58] thomasnield commented on #43
Never mind, there's a lot of signature bloat here. I may deprecate.

[2016-12-18 04:21] thomasnield commented on #43
Okay, this all has been implemented. Nearly everything in `JavaFxObservable` has been deprecated and replaced with new factories. I will ready a 1.0 release.

[2016-12-18 04:21] #43 closed, assigned to nobody

[2016-12-18 04:22] thomasnield commented on #44
These have been implemented under `JavaFxTransformers`, including the `doOnXXXCountFX()` operators that allow actions against the emission count for `onNext()`, `onCompleted()`, and `onError()` events.

[2016-12-18 04:22] #44 closed, assigned to nobody

[2016-12-20 15:30] dwursteisen opened #45 "JavaFxScheduler.getInstance() naming"
Hello,

RxJava gave functional names to Schedulers accessor : `Schedulers.io()`, `Schedulers.computation()`, `Schedulers.newThread()`, ...

RxJavaFX has a technical name for the JavaFX Scheduler accessor : `JavaFxScheduler.getInstance()`.
Even if you can understand it at the first sight, it can be more revelant to use a fonctional name instead, like : `JavaFxScheduler.ui()`

RxAndroid use the same

[2016-12-20 16:09] thomasnield commented on #45
You make a valid argument, and one I haven't really thought of. The more I think about it, it does make sense. I'll implement this as an alias for now, and might deprecate `getInstance()` later. I'll do it later today unless you beat me with a PR.

[2016-12-20 17:00] pigelvy commented on #45
Since we can mix the JavaFX "Application thread" with the AWT "Event Dispatch Thread", I think it would be more appropriate to name the method something like jfxUi(). The same could be applied to SwingSchedulers.getInstance() which could become .edt().
Those names wouldn't collide when using static imports, and would convey greater functional meaning about which GUI thread is used.

What do you th

[2016-12-20 17:14] thomasnield commented on #45
@pigelvy welcome back! That does make sense, although `jfxUi()` looks a bit esoteric. Maybe `platform()` since every JavaFX dev has used `Platform.runLater()` at some point? Other candidates at the top of my head:

`platform()`

`fx()`

`fxUi()`

I don't do static importing very often, but I don't think those would clash with other static imports.

[2016-12-20 18:15] pigelvy commented on #45
plateform() would indeed be the most meaningful name since every JavaFX user/developer knows (hopefully) about the Platform class.

On the other hand, I've never really understood why they chose the name "Platform". It does not really talk to me since everything and anything can be called a platform. Calling it Framework or YetAnotherSystem would have been the same...

As far as I'm concerned, the

[2016-12-20 18:26] thomasnield commented on #45
I'm biased towards `platform()` due to API consistency, although `jfx()` is fine as well. What do you think @dwursteisen?

[2016-12-21 09:17] dwursteisen commented on #45
I think `platform()` better because of the API consistency. An user which know the Java FX threading model will know what it means. But he may have some issues with `jfx()`.

[2016-12-21 12:48] thomasnield commented on #45
platform() it is then. I'll implement this later today. It might be a week or so until a new release occurs. Need more changes to warrant that if possible.

[2016-12-23 06:06] thomasnield commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [Implement `platform()` factory for JavaFxScheduler](https://trello.com/c/FaRoPyGH/1-implement-platform-factory-for-javafxscheduler)

[2016-12-24 15:12] thomasnield commented on #45
`platform()` has been implemented. Will include in the next release.

[2016-12-24 15:12] #45 closed, assigned to nobody

[2016-12-26 16:18] thomasnield commented on #41
I think for RxJavaFX 2.0, I am going to have the factories `valuesOf()` and `nullableValuesOf()`, which will behave opposite to RxJavaFX 1.0's `valuesOf()` and `nonNullValuesOf()`.

The `valuesOf()` in 2.0 will not emit null values and simply ignore them. `nullableValuesOf()` will yield an `Observable<Optional<T>>`. I imagine we want to avoid working with Optionals as much as possible, and in most

[2017-01-12 13:22] Tosken1337 opened #46 "Question: Possibility to redirect change lister notifications to happen on another thread?"
Hi,

i have a quit complex application which has a ObservableList<Pages> inside the data model.
Many ui controls and other parts of the business logic are bound to the list to update when changes are made.
Until now all changes of the list are triggered inside the JavaFX application thread. Which was good because otherwise i get an exception that it is the wrong thread when a bound control of the

[2017-01-12 19:06] thomasnield commented on #46
Have you read this chapter in the guide yet? Might help you with the third item if I understand correctly.

https://thomasnield.gitbooks.io/rxjavafx-guide/content/4.%20Collections.html

[2017-01-13 14:04] Tosken1337 commented on #46
Yes i have read the whole book. Thats not exactly what i want. I know how to turn the ObersableList ind an rx obserable of list chnage events or in a stream of added items. But is it possible te transform it back to an plain ObserbableList which is bound or backed by an rx obserable ?

[2017-01-13 19:01] thomasnield commented on #46
Using RxJava to bind an `ObservableList<T>` to an `ObservableList<R>` with a variety of transformation between the two is something that I have thought about for a long time. The most effective way I have found to do this is to make one `ObservableList` the receiver of items from an `Observable` built off another `ObservableList`.

You can do this atomically by providing an entire `List` that is s

[2017-02-13 10:00] protogenes opened #47 "Invalidation factory for javafx.beans.Observable"
Add a factory for invalidations of any FX observable.
I think propagating the FX observable instead of some constant is of better value.

[code]

[code]

[2017-02-13 13:17] thomasnield commented on #47
Makes perfect sense. I'll implement this later in 1.0 as well as the 2.0 branch.

[2017-02-13 16:21] protogenes opened #48 "JavaFxScheduler broken on (at least) 8u112"
Currently the JavaFxScheduler depends on the keyframe finish callback of JavaFX animations.
But animations with a duration of zero will never start, thus the callback (of the keyframe) will not be called.
See javafx.animation.Animation.java (JDK 8u112):
[code]

One possible solution is to use the finish callback of the timeline instead: `timer.setOnFinished(executeOnce);`

[2017-02-13 21:30] thomasnield commented on #48
That's not good,  okay this makes sense I'll see if I can implement in th  next few days. Feel free to put in a PR if you want to beat me to it.

[2017-02-14 10:31] protogenes commented on #48
I thought about introducing a short path
[code]
but I find it very hard to fully understand the implications or changes in behaviour in that complex implementation.
From what I understand by looking at the tests is the following:
- nested actions should be executed after the invoking action has finished in contrast to a direct recursive call on the EDT
- the trampoline implementation has a fast pa

[2017-02-14 13:27] thomasnield commented on #48
Read this issue we had a year ago. We need that complex setup because I found complex usage cases need it.

https://github.com/ReactiveX/RxJavaFX/issues/27

Also do you have a use case example hat shows a broken behavior?

[2017-02-14 14:13] protogenes commented on #48
I'm not sure which behaviour to expect from the scheduler. Look at my extended test case https://gist.github.com/protogenes/a5bd7b08fea64aa89cd3f3f5bef81f24
which modifies the original (braces used for nested actions) test{ third{ second{ first } } to test{ A{ B{ C, D } } , E }
The test schedules A and E, A schedules B, and B schedules C and D. Which order is to be expected: ABCDE or AEBCD? Becaus

[2017-02-14 18:44] thomasnield commented on #48
@protogenes this is an interesting discussion, and @akarnokd feel free to add anything if you like. With the test case you presented above, I want to highlight the behavior is still deterministic. It will go through the current tasks and then do a second pass at the tasks scheduled by those previous tasks. This makes the scheduler highly resilient to complex scheduling cases.

It does add some ove

[2017-02-14 18:48] thomasnield commented on #48
You likely read this already, but here is the [chapter from the eBook covering Switching, Throttling, and Buffering](https://thomasnield.gitbooks.io/rxjavafx-guide/content/9.%20Switching,%20Throttling,%20and%20Buffering.html). You will want to use those strategies (as well as backpressure) to keep the FX thread from receiving too many tasks.

[2017-02-14 18:52] #46 closed, assigned to nobody

[2017-02-14 20:47] protogenes commented on #48
I have read your book earlier this year as an introduce to Rx, it is a good read, but I just recently started using RxJava(FX) in a large project fending off ReactFX and all its problems and unexpected behaviour.

I'm interested in the actual problems you had in #27, because the only direct change is that a top level `schedule` within the JavaFX thread is called directly in contrast to being delay

[2017-02-15 01:46] thomasnield commented on #48
Man, i need a nitro coffee or two before I go through your analysis, and it's too late at night for that. I'll take a look at this tomorrow, Hopefully @akarnokd can spare a moment to chime in on this as well. I definitely appreciate your thoroughness and thought put into this. We will make sure this is indeed the optimal implementation.

[2017-02-15 08:39] akarnokd commented on #48
I don't know about JavaFX. If there is no (reliable) delayed scheduling option, such as with a plain `Executor`, we use helper schedulers (Single in 2.x and GenericScheduledExecutorService in 1.x) to do the delayed schedule and within that we reschedule the actual task on the original scheduler.

[2017-02-15 09:41] protogenes commented on #48
I think I understand the original issue as follows
[code]
I added the explicit `subscribeOn` for clarity, but `JavaFxObservable` does this already.
One would expect to see `Hello World!` to be printed, if the code was executed on the Java FX thread, but it won't because the old naive implementation would delay the subscription with `Platform.runLater` and the change will be lost. If run from anoth

[2017-02-15 18:11] thomasnield commented on #48
@protogenes I'll play with this in the next few days once I get a chance and do some review. I appreciate the scrutiny here and perhaps what we will do if we go forward with one of the implementations is create a beta version of the Scheduler in the `JavaFxScheduler` class. I do want to push this thing through several test cases and I'm glad you wrote some unit tests.

[2017-02-16 17:23] thomasnield commented on #47
Wouldn't it make more sense to emit an `ObservableValue<T>` rather than just a JavaFX `Observable`? The JavaFX `Observable` (not Rx one) does not have the `getValue()` method, but the `ObservableValue<T>` does. I imagine that would be more useful.

[code]

Would it also make sense to overload a `Property<T>` version as well? That way we can have access to a `setValue()` method for each emitted `Pr

[2017-02-20 09:01] protogenes commented on #47
The main difference is, that `ObservableList<>`, `ObservableSet<>`, `ObservableMap<>` and `Property<>` all implement the `Observable` interface and this could be used without knowing the specific type. If you know it you should use `valuesOf`, `changesOf` and so on.

[2017-02-23 21:31] thomasnield commented on #48
@protogenes is this branch ready to merge? Is the new `Scheduler` implementation the same as the one you made for 1.x?

[2017-02-23 21:42] thomasnield commented on #47
@protogenes that makes sense. Okay I'll implement your way.

[2017-02-23 21:46] thomasnield commented on #47
@protogenes Implemented in 1.x. I'll do 2.x as soon as I merge the new Scheduler for that branch. Let me know if that's ready.

[2017-02-24 00:08] #47 closed, assigned to nobody

[2017-02-24 00:19] #48 closed, assigned to nobody

[2017-02-24 00:23] thomasnield commented on #41
RxJavaFX 2.0 is now done. I'm going to do a sweep one more time and then do a pre-release.

[2017-02-24 01:14] #41 closed, assigned to nobody

[2017-02-24 15:56] thomasnield opened #51 "RxJavaFX 2.0 - API Organization"
In RxJavaFX 2.0, I have set up `JavaFxSubscriber` to have `toBinding()` factories overloaded for both `Observable` and `Flowable`. Should I separate these two overloads into two separate static utility classes: `JavaFxObserver` and `JavaFxSubscriber`? Just to follow RxJava 2.0 terminology?

[2017-02-24 15:57] thomasnield commented on #51
[code]

[code]

[2017-02-25 03:59] thomasnield commented on #51
I went ahead and made this separation. I'm trying to look for anywhere else the `Observable`/`Flowable` distinction might need to be reflected in the API design.

`FxTransformers` has been split to `FxObservableTransformers` and `FxFlowableTransformers`. I can't think of a better way to organize that.

[2017-02-25 04:53] thomasnield commented on #51
I might be able to bring back `toLazyBinding()` by leveraging a `ConnectableObservable` and calling `connect()` on an `ObservableValue`'s `getValue()` call.

[2017-02-25 19:27] thomasnield commented on #51
I was able to get all the above to work, and have unit tests pass. I'm going to go ahead and do the 2.0.0 release.

[2017-02-25 19:27] #51 closed, assigned to nobody

[2017-02-25 20:07] thomasnield opened #52 "Update README and guide for RxJavaFX 2.0"
The README and [_Learning RxJava with JavaFX_](https://www.gitbook.com/book/thomasnield/rxjavafx-guide/details) eBook need to be updated to reflect RxJavaFX 2.0's features and API.

[2017-02-26 02:47] thomasnield commented on #52
If anybody wants to help with updating these documentations, please feel free to contribute submissions.

[2017-02-26 17:45] thomasnield commented on #52
README has been updated. I'll go through it again later to make sure I didn't miss anything.

[2017-03-24 16:20] rguillens opened #53 "RxJavaFx 2 roadmap"
Is there any plan to migrate Observables to Flowables in version 2 of RxJavaFx, as well as move the maven artifact to the groupId io.reactivex.rxjava2 according to version 2 of RxJava to allow coexistence of versions 1 and 2?

[2017-03-24 19:13] thomasnield commented on #53
I added support for Flowables already where it makes sense (primarily through `JavaFxSubscriber` and `RxFlowableTransformer` utility classes). Creating a `Flowable` from UI events, however, does not logically make sense since you cannot programmatically tell a user to slow down emissions. But if you need to turn the `Observable` into a `Flowable`, just call `toFlowable()` and pass the right backpr

[2017-04-25 13:55] thomasnield opened #54 "Deprecating CompositeObservable in favor of Subjects"
The [`CompositeObservable`](https://thomasnield.gitbooks.io/rxjavafx-guide/content/10.%20Decoupling.html) was somewhat of a moving target after I first had the idea. It was a tool to safely decouple RxJava streams in a JavaFX application without exposing a `Subject`, which can [encourage antipatterns especially with Rx newbies](http://tomstechnicalblog.blogspot.com/2016/03/rxjava-problem-with-subj

[2017-04-27 20:33] rguillens commented on #54
I've tested different scenarios, and I can say `Subject `is a most straight forward solution than `CompositeObservable`. I'm just re-thinking about all common scenarios involving concurrency , although ideally `CompositeObservable `should be used to listen UI events from other layer, as events are always produced on JavaFx Application Thread, theorically there should be no problem.

[2017-04-27 21:07] thomasnield commented on #54
Yes those were kind of my thoughts. I have thought about making an FXSubject that would handle serialization and observing on the FX thread. I havent entirely dismissed that idea but in a great majority of cases, emissions going in and out should already be on the FX thread anyway. I can see occasional situations it might be useful though...

[2017-05-16 13:27] thomasnield commented on #54
I have found a potentially serious issue: subscribing a subject does not return a `Disposable`.

[2017-05-16 18:39] rguillens commented on #54
Explain this issue a little more. The only subscribe implementation that doesn't return a `Disposable` in `Observable` is `public final void subscribe(io.reactivex.Observer<? super T> observer)` and all `Subjects` inherit this method.

[2017-05-17 00:34] thomasnield commented on #54
I'll post a better example tomorrow, but...

[code]

[2017-05-17 13:41] rguillens commented on #54
I understand what you mean, a workaround could be subscribing with method references:

[code]

[2017-05-17 14:43] thomasnield commented on #54
Yup, good thought. I looked at my implementation of CompositeObservable and that is exactly what I did.

https://github.com/ReactiveX/RxJavaFX/blob/2.x/src/main/java/io/reactivex/rxjavafx/sources/CompositeObservable.java

I'm a tad unsure what to do here... whether to tell users to do that subscribe() trick themselves, implement a new utility, or keep things as is.

Too bad Java doesn't have exten

[2017-05-17 14:44] thomasnield commented on #54
I wonder if its possible creating a Subject implementation that does all this, and can have a dispose() method on it.

[2017-05-17 22:58] chronodm commented on #52
Is the 2.x branch of the book viewable anywhere? I couldn't see a way to get to it on GitBook.

[2017-05-18 13:50] thomasnield commented on #52
@chronodm I'm not sure how to do it from the website. But you can clone it with GIT and read in Atom Editor or something.

Clone URL: https://git.gitbook.com/thomasnield/rxjavafx-guide.git

I haven't gotten far in switching the eBook over to RxJava 2.0. I've been busy with the [_Learning RxJava_ Packt book](https://www.packtpub.com/application-development/learning-rxjava) which will cover RxJava 2

[2017-05-28 01:23] thomasnield commented on #54
I think I'm going to deprecate. I see @akarnokd gave a thumbs up to the subject route, so that's enough to push me out of my quandary.

[2017-05-28 01:28] #54 closed, assigned to nobody

[2017-05-28 01:37] thomasnield commented on #53
Group ID has been changed.

[2017-05-28 01:37] #53 closed, assigned to nobody

[2017-08-12 00:35] thomasnield commented on #52
Just a quick update, I'm realistically not going to be updating the _Learning RxJava with JavaFX_ eBook anytime soon to cover RxJava 2.x. There's a lot on my place with O'Reilly, KotlinConf, and campaigning Kotlin as a data science platform.

I still use the RxJavaFX stack heavily in Kotlin and will be ready to provide feedback. But I wouldn't mind if someone wanted to take over updating the eBook

[2017-09-08 09:59] georgeVasiliu commented on #52
Are there many, major differences between the RxJavaFX for RxJava 1.0 and the RxJavaFx for RxJava 2.x ? I wouldn't mind looking at RxJava 2.x and observe it's new features and update the eBook (I'm especially interested in RxKotlinFX to be honest), as long as I have at least a few key-points on which to look-out for or some facts/features that are game-changers for the library and must be document

[2017-09-09 19:06] thomasnield opened #56 "JavaFxObservable.fromDialogSource() should emit a `Maybe`"
Rather than this implementation:

[code]

It should instead be returning a `Maybe`:

[code]

[2017-09-09 19:37] thomasnield commented on #56
Resolved in 2.2.0

[2017-09-09 19:37] #56 closed, assigned to nobody

[2017-09-09 22:50] thomasnield commented on #52
@georgeVasiliu There are some significant differences that would break the code examples between 1.x and 2.x, for both RxJavaFX and RxKotlinFX.

Either way, I got the 2.x version of the book done today. Feel free to take a look for yourselves guys!

https://www.gitbook.com/book/thomasnield/rxjavafx-guide/details

[2017-09-09 22:50] #52 closed, assigned to nobody

[2018-01-15 08:29] pigelvy opened #61 "JavaFxObservable should provide a method to observe Node "event filters""
Similar to `JavaFxObservable#eventsOf(Node, EventType<T>)`, JavaFxObservable should have a method to observe Event objects during the capturing phase of event delivery. Internally, such method would use `Node#addEventFilter(EventType, EventHandler)` instead of `Node#addEventHandler(EventType, EventHandler)`.

[2018-01-15 21:25] thomasnield commented on #61
Huh... I don't think I've used events in that stage before. I'll take a look unless you want to put in a PR.

[2018-01-17 14:20] morincer opened #62 "emitOnChanged() emits values on JavaFx thread"
When using JavaFxObservable.emitOnChanged outside of the running application (specifically - to unit-test my view models with JUnit) I've experienced the unexpected "Toolkit not initilized exception" on the first emission.
The following sample code throws the exception:
[code]
The walkaround for the issue is to subscribe on a specific non-JavaFx scheduler (see the commented line).

[2018-01-17 14:40] thomasnield commented on #62
The best workaround I've found is to instantiate a `JFXPanel` to initialize the JavaFX platform.

See unit test examples here:
https://github.com/ReactiveX/RxJavaFX/blob/2.x/src/test/java/io/reactivex/rxjavafx/sources/JavaFxObservableTest.java

[2018-01-17 14:43] pigelvy commented on #62
Indeed, the idea is to initialise the JavaFX thread before using it. The easiest way being the instanciation of a new `JFXPanel`.

https://gist.github.com/andytill/3835914#file-javafxthreadingrule-java

[2018-01-17 14:46] morincer commented on #62
@thomasnield, for me, the best workaround is subscribing on io thread - that solves the issue :)

Personally, I don't really like the idea of introducing the JavaFx platform into the viewmodel unit tests. As of the JFXPanel - looks like a dirty hack, I would rather use the JfxRunner (you may check it here: https://github.com/sialcasa/mvvmFX/wiki/JfxRunner) or something similar

[2018-01-17 14:47] thomasnield commented on #62
@pigelvy Okay that looks more kosher. Good to know. I'll remember this approach next time.

[2018-01-17 14:50] morincer commented on #62
@thomasnield, just wondering: why emitting the changes on the list is so thread-sensitive?

[2018-01-17 15:05] pigelvy commented on #62
It's true that one might wonder as to why Observable(List|Map|Set) observations has to be performed in the JFX thread?

Even though such classes are in the `javafx.collections` package, they can very well be used outside of the JFX thread and with no such threading considerations... Don't you think so?

[2018-01-17 15:59] thomasnield commented on #62
JavaFX-specific collections (e.g. `ObservableList`) have to be manipulated on the FX thread from what I understand, as that is what the Listeners check for.

https://docs.oracle.com/javase/8/javafx/api/javafx/collections/ObservableList.html

[2018-01-17 16:20] pigelvy commented on #62
On one hand, if the ObservableCollection is returned by a JavaFX Node, it will naturally be listened from the JavaFX thread because the JavaFX Node will update it from the JavaFX thread.

On the other hand, if I decide to create an ObservableCollection for me (using for example `FXCollections#observableArrayList()`), outside of any JavaFX Node/Thread context, then it does not matter which thread i

[2018-01-17 16:44] morincer commented on #62
Observable collections itself are not glued to the UI - yes, they are a part of the JavaFx, but they're a part of the bindings system, not the UI. And thus they have no direct limitations on threads - it's a perfectly valid scenario to, say, load them in a background thread.

The UI thread limitation is applied only to the UI controls, not to the bindings.

[2018-01-17 20:31] thomasnield commented on #62
Okay, so it looks like I followed a precedent and used `subscribeOn(JavaFxScheduler.platform()` on all the sources. It's possible that is causing the factories to not be thread-agnostic.

https://github.com/ReactiveX/RxJavaFX/blob/2.x/src/main/java/io/reactivex/rxjavafx/sources/ActionEventSource.java#L42

[2018-01-18 09:25] morincer commented on #62
@thomasnield , as I can see in the ObservableListSource you are intensively using the unsubscribeInEventDispatchThread - that might cause the exception as well. I guess there is no particular reason to use this for the ObservableList - as this class is not actually a part of the UI.

[2018-01-18 14:47] thomasnield commented on #62
@morincer I think that makes sense. Let me try to break this PR and if it all looks good, I'll merge and do another release with other proposed issues resolved

[2018-04-25 14:49] thomasnield opened #64 "Handling SimpleListProperty"
I am noticing a lot of `ObservableList`-related factories, particularly `emitOnChanged()`, are not triggered on a  `SimpleListProperty` when the backing list is changed.

Maybe `SimpleListProperty` needs its own factories.

[2018-04-25 14:50] thomasnield commented on #64
As well as `SimpleSetProperty` and `SimpleMapProperty`.

[2018-04-29 20:32] thomasnield commented on #62
Resolved.

[2018-04-29 20:32] #62 closed, assigned to nobody

[2018-04-29 20:32] thomasnield commented on #64
Resolved.

[2018-04-29 20:32] #64 closed, assigned to nobody

[2018-04-29 20:36] thomasnield commented on #61
What would you propose the factory be called? Not quite clear what we are trying to accomplish here from an Rx perspective...

[2018-04-30 06:02] khrlimam opened #65 "Not on FX application thread"
Hey, I got `java.lang.IllegalStateException` when using `Schedulers.newThread()` or `Schedulers.computation()`, and when using `JavaFxScheduler.platform()` got no exception but the process is not asynchronously executed, I have to wait for the process to finish so i can access the UI. Any information, please?

[2018-04-30 12:24] thomasnield commented on #65
Can you provide some context please? Since JavaFX elements have to be manipulated on the JavaFX thread, any part of the Observable chain that does so must operate on the JavaFxScheduler. If you need to run a background task, use two observeOn() calls, the first to move it to a newThread(), io(), or computation() scheduler, and a second to move the result to the JavaFxScheduler.

[2018-06-04 13:21] xRicochet opened #66 "JavaFxObservable.actionEventsOf is only listening on the first click of the button"
Hi. I'm trying to create an Observable out of a button click but apparently it's running only on the first click. The other clicks does nothing. Any ideas why this would happen?

        Button loadUsersButton = new Button("Load users");
        BorderPane root = new BorderPane();
        root.setTop(loadUsersButton);
        HBox githubInfo = new HBox();
        List<VBox> listOfUserInfo = Arrays

[2018-06-04 15:36] thomasnield commented on #66
Your pattern seems valid. Without running this, the only thing that stands out is is the `take()` operator. You sure you are not cutting the stream off prematurely?

Can you try to create a minimal, self-contained example that I can run?

[2018-06-15 18:45] thomasnield commented on #66
By the way, you are adding the same vbox on every action. I'm pretty sure this is the problem. I'll close unless you can provide further evidence of something being wrong.

[2018-06-15 18:45] #66 closed, assigned to nobody

[2018-08-10 08:09] IamFive opened #67 "what is the difference betwenn 1.x.y and 2.x.y"
As title

[2018-08-10 14:38] thomasnield commented on #67
1.x versions use RxJava 1.x. while 2.x versions use RxJava 2.x.

I don't think I did a good job highlighting this in the README. I'll edit it later.

[2018-08-11 12:51] #67 closed, assigned to nobody

[2018-09-10 06:31] protogenes opened #68 "BindingObserver and BindingSubscriber mustn't use com.sun* classes"
The usage of internal com.sun classes breaks on newer Java versions.

./src/main/java/io/reactivex/rxjavafx/observers/BindingObserver.java
import com.sun.javafx.binding.ExpressionHelper;
./src/main/java/io/reactivex/rxjavafx/observers/BindingSubscriber.java
import com.sun.javafx.binding.ExpressionHelper;

[2018-09-10 18:38] thomasnield commented on #68
Which version(s) is it breaking on? I'm a bit behind and stayed on Java 8, waiting for decoupling to happen with Java 11.

[2018-09-10 19:02] thomasnield opened #70 "JavaFX 11 Planning"
I've not kept up with Java 9/10 releases and chose to align RxJavaFX with TorndoFX's approach of waiting for Java 11.

@protogenes has already started filing issues and PR's, and I know other libraries [have already transitioned as well](https://twitter.com/eryzhikov/status/1038810882585886720).

I'm going to try my best to get RxJavaFX moved to Java 11 in the next few weeks.

[2018-09-11 06:27] protogenes commented on #68
It is breaking with OpenJDK+OpenJFX 11-ea25
At work we are currently stuck on 8u92 because of changes in later updates that break things. With the upcoming release of version 11 in two weeks I wanted to check what dependencies are missing out and preventing an early update as I want to skip 9 and 10 completely.

[2018-09-11 10:47] thomasnield commented on #68
@protogenes that's my strategy as well. I'll follow up shortly

[2018-09-11 18:16] thomasnield commented on #65
I haven't heard back awhile on this issue so I'm going to close. Feel free to open if there are further concerns to address.

[2018-09-11 18:16] #65 closed, assigned to nobody

[2018-09-11 20:04] thomasnield commented on #70
For reference:
http://docs.gluonhq.com/javafx11/#introduction

[2018-09-11 20:12] thomasnield commented on #70
Proposed version number convention for Java 11 build will be `2.11.x`.

For Java 8, it will shift to `2.8.x`.

I'd prefer to keep the major version number pegged to RxJava.

[2018-09-17 18:35] rguillens opened #71 "Additional Transformer factories"
What do you think about adding `FxCompletableTransformer`, `FxMaybeTransformer` and `FxSingleTransformer` to complement the existing `FxObservableTransformer` and `FxFlowableTransformer`?

[2018-09-18 03:52] thomasnield commented on #71
I think that makes sense. Did you want to add them? I'm going to start rolling up a release soon, although KotlinConf and other events are keeping me busy for next few weeks!

[2018-09-24 12:50] nikarh opened #72 "Getting index in ListChange"
Hi,
`javafx.collections.ListChangeListener` among other methods also contains `getFrom` and `getTo` methods, indicating array indexes of added/modified deleted entries sub lists. Would it be possible to extend `io.reactivex.rxjavafx.sources.ListChange` to provide an array index of the changed item? Thank you!

[2018-09-24 15:20] thomasnield commented on #72
Without diving into the implementation yet, I don't see why not. We could pair up the items with their indices or something.

[2018-09-26 23:40] thomasnield commented on #70
I created a new 2.11.x branch and migrated to Java 11 successfully. Migration took only a few minutes and all unit tests have passed. UI opened up fine too.

[2018-09-27 00:25] thomasnield commented on #70
Migration to Java 11 is successful. This version can be seen on 2.11.x branch. I'm going to review other issues and see if I can get other requests implemented before release.

[2018-10-29 15:00] #68 closed, assigned to nobody

[2018-10-29 15:00] thomasnield commented on #68
Resolved.

[2018-10-29 15:35] thomasnield opened #73 "Help with Deployment of 2.11"
I'm having some build issues probably related to deployment tasks. I have a strong guess the Nebula plugin is no longer supported by Netflix, which breaks with newer versions of Gradle.

@akarnokd et al, can you help me get my build files set up correctly?

[2018-10-29 15:35] #70 closed, assigned to nobody

[2018-10-29 15:46] akarnokd commented on #73
Do you mean the auto-release? It was a bit long ago but these are the highlights:

- https://github.com/ReactiveX/RxJava/blob/2.x/build.gradle#L13-L14
- https://github.com/ReactiveX/RxJava/blob/2.x/build.gradle#L21-L32
- https://github.com/ReactiveX/RxJava/blob/2.x/build.gradle#L44-L45
- https://github.com/ReactiveX/RxJava/blob/2.x/build.gradle#L146-L199
- https://github.com/ReactiveX/RxJava/blob/

[2018-10-29 15:57] thomasnield commented on #73
@akarnokd yes, auto-release. Thank you, I'll take a look.

[2018-10-29 16:05] akarnokd commented on #73
Suggestion: do release tags with "-RCx" when testing out things.

[2018-10-29 18:49] thomasnield commented on #73
@akarnokd will do.

[2018-10-30 20:44] thomasnield commented on #73
Almost at the finish line I think, but having this issue I can't figure out with the CI build:

[code]

[2018-10-30 21:21] akarnokd commented on #73
Maybe the travis script still contains the old `snapshot` argument somewhere.

[2018-10-31 20:43] thomasnield commented on #73
[sigh] new level, new devil.

[code]

[2018-10-31 20:51] akarnokd commented on #73
Are you using compile target 11? The matrix build of RxJava started working for 11+ only after Gradle 5M1.

[2018-11-01 14:51] thomasnield commented on #73
I have to target Java 11 as that is where JavaFX has been decoupled and spun off as its own library.

Besides trying Gradle 5, is there another approach I can take?

[2018-11-01 15:14] akarnokd commented on #73
Prior Gradle simply won't work with Java 11 class files. Compile target 10 works for tests but it may complain about 11 API use.

[2018-11-01 15:32] thomasnield commented on #73
Got it built successfully, thanks!

[2018-11-02 15:40] thomasnield commented on #73
So close... I'm near the finish line. The artifact isn't getting pushed out for some reason. I am noticing this in the CI ouput:

[code]

[2018-11-04 07:47] pkrysztofiak commented on #61
If there is still any chance to add it I would suggest JavaFxObservable.eventsOf(Node, EventType, Phase)
where enum Phase {CAPTURING, BUBBLING} (as described https://docs.oracle.com/javafx/2/events/processing.htm#CEGJAAFD) or enum Phase {FILTERING, HANDLING)

[2018-11-04 15:57] thomasnield commented on #61
@pkrysztofiak noted. I'm trying to get 2.11.x out (having BinTray deployment issues #73 ) and then I will start implementing these new features in both 2.8.x and 2.11.x.

[2018-11-04 16:10] akarnokd commented on #73
I haven't encountered this error but I haven't tried deploying with Gradle 5M+ before. May be worth trying 1.8.4 of the plugin.

[2018-11-04 18:56] technoir42 commented on #73
@thomasnield you don't need both `maven` and `maven-publish` plugins since they do the same thing. `maven-publish` is a modern one. See my changes here https://gist.github.com/technoir42/fc3275a3ecd83e6c9bd9deccaf80f265/revisions.

To publish to mavenLocal using the new plugin use `./gradlew publishToMavenLocal`.

[2018-11-06 10:44] claudio-rosati opened #74 "Java 11 Automatic-Module-Name"
RxJava added `Automatic-Module-Name: io.reactivex.rxjava2` to the manifest, in order to have a small step into the Java 11 full module transition. This was in the following clause of the `build.graddle` file:

[code]

Can this be made also for RxJavaFX?

[2018-11-07 20:54] thomasnield commented on #74
I'll take a look. First I need to get the current codebase deployed for Java 11 which I have been having challenges with.

[2018-11-08 06:06] claudio-rosati commented on #74
Thank you

[2018-11-10 13:29] pkrysztofiak opened #75 "JavaFxObservable.valuesOf(fxObservable, nullSentinel) does not emmit first nullSentinel"
In my opinion the first/initial emission of nullSentinel is missing:
[code]
Output:
one
N/A
two

I would add "else" block just after "if" at ObservableValueSource:50
[code]

[2018-11-12 13:54] thomasnield commented on #75
Noted, okay.

[2018-11-12 17:09] pkrysztofiak opened #76 "JavaFxObservable.valuesOf() and Bindings.bindBidirectional() strange behaviour."
EDIT Rx works fine. Described issue is caused by weak refernces.
I wanted to bind two properties and listen for changes on both, using RxJavaFx.
What I expected was - bind two properties, write to only one of them and listen for changes on both. It turned out it worked as I expected only using pure fx. Using RxJavaFx (please uncomment lines) causes firing change event only on directly updated prop

[2018-11-14 23:43] thomasnield commented on #76
From my experience, you should avoid mixing bidirectional bindings and Rx. It just gets messy and I've found them to behave strangely. That is an interesting observation though.

Can you pinpoint what would cause the issue? I'll go ahead and see if I can get input from some JavaFX folks as well. I'm a bit busy nowadays and having a hard enough time getting the JavaFX 11 support version out.

[2018-11-18 13:35] pkrysztofiak commented on #76
Issue is caused by weak references on which JavaFx bidirectional bind is built on. Sooner or later the same behaviour would occur without using Rx. Using Rx accelerated the symptom by getting garbage collector into the play earlier.
The solution is to assign property1, property2 to fields. It's documented in JavaFx so it has got nothing to do with Rx and was just my mistake.
For now on everything

[2018-11-18 14:01] pkrysztofiak opened #77 "JavaFxObservable.actionEventsOf().subscribeOn(Schedulers.newThread()) misses some emissions"
I was learning about concurrency from your book (btw it's great) and ran into this.
When creating an _Observable_ using _JavaFxObservable_ factory methods and following it with _subscribeOn(Scheduler)_ the _Scheduler_ should be suppressed by default _JavaFxScheduler.platform()_.
It is exectly what happens when using _JavaFxObservable.actionEventsOf()_ but there is strange behaviour using it with _

[2018-11-20 15:45] thomasnield commented on #76
Interesting nonetheless though. I'll go ahead and close and please let me know if anything else pops up, even if it's interesting behaviors.

[2018-11-20 15:45] #76 closed, assigned to nobody

[2018-11-20 15:55] thomasnield commented on #77
Thank you, I'm glad you like it. There should never be a good reason to use `subscribeOn()` against any JavaFX sources. You'll always want to use `observeOn()` to switch elements from FX thread to different thread _at that point_ going downstream.

It's interesting and probably not a good behavior though for folks who don't know better. I'm not quite sure what's causing the issue since there is al

[2018-11-20 17:16] pkrysztofiak commented on #77
It's going to be a long one but I would really appreciate you read it.
Because currently I'm fascinated with observable collections and potential usages. I have some thoughts I would really appreciate you to consider.
I'm able to use observable collections in isolation from Fx:
[code]
Above app works perfectly fine.
In my opinion observable collections are not the part of FX UI as itself. They are

[2018-11-21 16:08] thomasnield commented on #77
:thinking: Thanks for putting this reasoning together. I do agree that JavaFX ObservableCollection should be agnostic to which thread it modifies/fires on.

However, I don't know if this is kosher to make `subscribeOn()` behavior do essentially what is the role of an `observeOn()`.

You see, the `ObservableList` sort of acts like an event bus, or in Rx terminology it is a `Subject`. Subjects _do n

[2018-11-21 16:46] thomasnield commented on #73
@technoir42 :thinking: okay... so running `./gradlew publishToMavenLocal` with these changes are supposed to make the artifacts appear on BinTray?

[2018-11-21 17:18] technoir42 commented on #73
@thomasnield no, `./gradlew publishToMavenLocal` will publish to `~/.m2/` aka mavenLocal where you can verify the artifacts and POM metadata (e.g. dependencies). Once you are sure that everything is correct you can publish to Bintray using `./gradlew bintrayUpload`, but I believe you also need to pass `-PreleaseMode=full` due to [this](https://github.com/ReactiveX/RxJavaFX/blob/1ead9623b575409f84c

[2018-11-22 00:59] thomasnield commented on #73
I got the artifact on BinTray finally, and I think I learned a lot more than I planned in Bintray Travis-based artifact deployments.

The only remaining issue is getting the Maven Central sync to happen. For some reason it is not liking the POM path.

[code]

[2018-11-22 15:12] thomasnield commented on #73
God, it's tasks like this that make me want to quit programming and become a truck driver. I downgraded to Gradle 4.x and excluded the tests as they don't work with Gradle 5. This created some progress but there's always one more thing.

It looks like the Bintray POM is missing a lot of fields and therefore getting rejected by Maven Central. Strangely if I publish to my local repo the POM is compl

[2018-11-23 13:17] brainbytes42 opened #78 "2.11.0-RC16 / error: cannot access JavaFxObserver"
Hi,

gradle just pulled the newes version, and failed... previously, I was using 2.2.2, which worked fine.

now with 2.11.0-RC16, it crashed with following message:

I had RxJava included with wildcard:
    compile group: 'io.reactivex.rxjava2', name: 'rxjava', version: '2+'

Fixing it to 2.2.2 (last version before, I think) solves the issue.

[2018-11-24 13:33] thomasnield commented on #78
Try using RC30? And you you are also using Java 11?

[2018-11-24 14:19] thomasnield commented on #78
Sorry, use RC22.

[2018-11-24 14:57] thomasnield opened #79 "Mockito complaining with Java 11/Gradle 5"
With Java 11, reflection deprecation warnings are popping up in Gradle 4. Compile errors happen with Gradle 5. Consider ridding Mockito dependency if it cannot be resolved easily.

[2018-11-26 08:59] brainbytes42 commented on #78
there is only RC16 here...?
https://repo.maven.apache.org/maven2/io/reactivex/rxjava2/rxjavafx/

no, I'm using java 8 - is the 2.11... version Java 11 only?

[2018-11-26 18:22] thomasnield commented on #78
@brainbytes42 yes, 2.11.x only works with Java 11 with OpenJFX.

Use earlier versions for Java 8, which will soon be developed under 2.8.x versions.

[2018-11-26 18:22] #78 closed, assigned to nobody

[2018-11-29 17:53] thomasnield opened #80 "No factories should subscribeOn() the Platform thread"
I've noticed there are a few factories left that call `subscribeOn(JavaFxScheduler.platform()` unnecessarily. I actually noticed this causes some issues with `ObservableSet` change streams, and emissions are not firing on changes.

But removing the scheduler causes it to work fine.

[2019-01-18 14:31] jschneider opened #81 "JavaFxObserver#onError: custom implementation"
Hey,

RxJava2 has changed its default policy regarding errors: Exceptions are never swallowed or ignored.
Therefore I suggest that the default implementation should also handle exceptions differently.

Maybe just get the io.reactivex.plugins.RxJavaPlugins#getErrorHandler and use that.
At least that is what I expected.

[2019-01-18 14:37] jschneider commented on #81
https://github.com/ReactiveX/RxJavaFX/pull/82

[2019-02-15 16:16] thomasnield opened #84 "Need help with maintenance, call for collaborators"
Hello all,  I need some help maintaining RxJavaFX. I rely heavily on this library so I will always be involved, but doing ongoing maintenance and trying to deploy artifacts for Java 11 is something I'm struggling to make time for. If anybody wants to step up and you are proficient with RxJava (and reasonably proficient in JavaFX), I will look into making you a collaborator.

[2019-02-16 09:43] rcd27 commented on #84
Well, I worked with JavaFX for some time. And also quite familiar with RxJava (thank you for the book). If you are able to help me with mentoring, I'll be glad to do something useful.

[2019-02-16 13:49] thomasnield commented on #84
@red27 okay thank you. I'll look into giving you collaborator rights shortly.

[2019-02-16 20:19] thomasnield commented on #84
@rcd27 have you deployed artifacts to Maven before?

[2019-02-17 15:59] rcd27 commented on #84
@thomasnield no, I haven't.

[2019-03-12 22:54] cebaa opened #85 "Support scene accelerators"
A shortcut for this:

[code]

[2019-03-13 17:45] thomasnield commented on #85
Can you put in a PR, thanks!

[2019-03-14 03:13] rcd27 commented on #85
What kind of shortcut do you want to see as result?
`val keyCharObservable = eventsOf(scene, EventType<KeyCharacterCombination, "c">)`?

[2019-03-14 13:25] cebaa commented on #85
@rcd27

Since the signature is:

[code]

so maybe something like this:

[code]

[2019-03-14 14:05] rcd27 commented on #85
@thomasnield I think I'm able to do that

[2019-03-26 09:41] pkrysztofiak opened #86 "Change object not emitted when observed property had changed to null"
[code]
The output is:
oldValue=null, newValue=secondValue
oldValue=secondValue, newValue=thirdValue
Imo there is first missing emission which should be logged as:
oldValue=firstValue, newValue=null
Generally there are no change emissions when property was set to null.

[2019-05-24 12:23] #74 closed, assigned to nobody

[2019-06-07 13:13] pkrysztofiak commented on #84
4 years experience with JavaFx. Would like to contribute if help still needed.

[2019-06-08 04:23] thomasnield commented on #84
@pkrysztokiak thank you, can you help me config the gradle build file so that it deploys not just to JCenter, but also Maven Central? There were some issues building the POM. I'll respond quickly to PRs...

[2019-08-18 23:13] renannprado commented on #73
Any news about this one? I would like to try the release candidates.

[2019-08-28 15:59] thomasnield commented on #73
@renannprado I haven't given up on this yet. Just been busy with getting married and doing O'Reilly projects. We learned some lessons with RxKotlin that will help us get releases here. I just need to find the time and I also want TornadoFX to finish the Java 11 migration.

[2019-09-29 15:39] riemannulus opened #90 "A typo on Gitbook guide"
this one should be

[code]

not

[code]

here is url: https://thomasnield.gitbooks.io/rxjavafx-guide/content/2.%20RxJava%20Fundamentals.html#scan

and here is a screenshot

![image](https://user-images.githubusercontent.com/16367497/65834879-64203d00-e31a-11e9-91f4-3256cff2da9f.png)

[2019-10-18 19:08] JonathanVusich commented on #84
I'm willing to help out where I can.

[2019-10-19 20:34] thomasnield commented on #84
@JonathanVusich Sent you a collaborator invite. Please help with the Java 11 branch if you can. Been way too busy to debug the artifact deploy issues. It's so close.

[2019-10-21 13:42] JonathanVusich commented on #84
@thomasnield I'll look into it. 👍

[2020-02-24 21:04] geniejhang opened #92 "It looks like passing all the tests with openjfx 13.0.1"
Hi,

I tried to change openjfx version from 11 to 13.0.1 and it looks like compiled correctly,
which means, as long as I understand, the library is not using any deprecated API.

Is there any reason not to update it to 2.13.0?

I'm just wondering since my projects are using openjfx 13.0.1.

Thanks for the fantastic library :)

[2020-03-25 14:59] permiakover opened #93 "Error - cannot access io.reactivex.Observable"
Hello, I'd like to share my experience with RxJavaFx while getting started with Java 8.
According to guidelines I added maven dependency

[code]

and tried to apply an example from the RxJavaFx Guide Book. And from the beggining I got **"cannot access io.reactivex.Observable"** trying to use

[code]
on a new project.  The solution was to add manually  a dependency for

[code]

RxJavaFx version 2.2

[2020-03-25 17:51] thomasnield commented on #92
Hi @geniejhang, sorry for slow response. I've been busy with other endeavors this year.

This library needs to finish migration to RxJava 3 as well as OpenJFX so I'm glad to hear it checks out now.

Can you put in a PR or two to target OpenJFX and RxJava2 and/or RxJava3?

[2020-03-30 15:42] geniejhang commented on #92
Do you have any test in mind except for just changing the version number to the targets?
What I tried is just to use it by changing the version number to 13.0.1 and 14 for OpenJFX.
It also worked with JDK 13.0.2.

For RxJava, I thought by default it's with RxJava2.
I've never tested with RxJava3, though.

If you don't have anything in mind, I can submit pull requests with changing version numbers.

[2020-05-19 15:11] torakiki opened #96 "Is there a plan to use RXJava 3 ?"
Hi,
not sure this is the right channel. I'm starting a new JavaFX application and I'm evaluating options. I see RXJava2 will be maintained until Feb 2021 so I was wandering what's the plan for RXJavaFX.
Thanks

[2020-05-19 17:22] thomasnield commented on #96
HI @torakiki, I've been rather busy with other projects nowadays but I do welcome contributors. I think I need to pass ownership of RxJavaFX to someone else willing to keep it going.

[2020-05-22 15:21] torakiki commented on #96
Ok, thanks for the info

[2020-05-22 15:21] #96 closed, assigned to nobody

[2020-06-05 01:36] geodab commented on #79
The illegal reflective access warnings will disappear if the version of mockito-core is bumped up to the latest version of 3.3.3.

[2020-07-26 07:26] Speljohan opened #98 "Setting up a new build chain for stable/nightly releases."
This is an open discussion about what the best of way of setting up a build chain should be, for automatic publishing to Maven Central, and so on. My experience in this field is limited, so I'd welcome input on how to best accomplish this goal in a streamlined fashion.

[2020-12-13 09:12] JuliaPRJ opened #100 "Ebook Learning RxJava with JavaFX not navigatable"
Only the first page is shown in the book, navigation to other pages or chapters is not working.

[2021-01-09 11:13] torakiki commented on #100
I guess it has something to do with https://docs.gitbook.com/resources/gitbook-legacy
Maybe @thomasnield can help to make it available again? Or maybe hand it over to someone willing to keep it available if you are too busy with other stuff?

[2021-02-12 15:59] thomasnield commented on #100
@torakiki hey sorry I've been rather swamped with other endeavors these days. I wish I could maintain this but it's not something I dogfood anymore, so I'm unable to invest time : (

[2021-02-12 17:00] torakiki commented on #100
Ok, thanks for letting us know. Meanwhile I found a PDF version of the book I save when it was still available on gitbook, I'm attaching it here in case anyone needs it
[rxjavafx-guide.pdf](https://github.com/ReactiveX/RxJavaFX/files/5973256/rxjavafx-guide.pdf)

[2021-07-11 09:05] m-a-g-i-c commented on #93
I had a similar problem when I used rxJava2 and rxJava3 in the same project. Check that you don't import rxJava3 lib. I'm using gradle and all works, my build.gradle:
`
plugins {
    id 'java'
    id 'application'
    id 'org.openjfx.javafxplugin' version '0.0.9'
}

group 'org.example'
version '1.0-SNAPSHOT'

repositories {
    mavenCentral()
}

dependencies {
    implementation 'io.reactivex.rxja

[2021-07-11 09:11] m-a-g-i-c commented on #93
I had a similar problem when I was using rxJava2 and rxJava3 in the same project. Make sure you don't import rxJava3 in your code. I am using gradle and everything works, my build.gradle:
[code]

[2021-07-11 18:40] #93 closed, assigned to nobody

[2022-03-14 13:11] brainbytes42 commented on #70
Hi,

two short remarks on versioning, as I was just evaluating the current state and dependencies of RxJava and RxJavaFX for a new and some existing projects:

It seems, RxJavaFx 2.11.x is on track with RxJava 3.x as of this commit (https://github.com/ReactiveX/RxJavaFX/commit/74aa7e0f7633abb01070c4e820dc4097faf535bd), but the major version wasn't updated as planned in the comment above (https://g